body,html{
  font-family: 'Press Start 2P', cursive;
  background: #091135;
  cursor: url("../images/mouse-style.png"),auto;
  font-size: 2rem;
    -webkit-font-smoothing: antialiased;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
}

.title{
  text-align: center;
  color: #e33c5a;
  padding:3% 0 2% 0;
  font-size: 2rem;
}
.instruction{
  text-align: center;
  background:rgba(0, 0, 0, 0.3);
  color:white;
  margin:2% 10% 0 10%;
  padding:6%;
  font-size: 16px;
}
.start{
  color: #e33c5a;
  animation: blink 2s linear infinite;
}
.start:hover{
  cursor: url("../images/mouse-pointer.png"),auto;
}
@keyframes blink {
           0% {
               color: #e33c5a;
           }

           50% {
               color: white;
           }

           100% {
               color: #e33c5a;
           }
       }

.intro{
  text-align: left;
  background:rgba(0, 0, 0, 0.3);
  color:white;
  margin:2% 10% 0 10%;
  padding:6%;
  line-height: 200%;
  font-size: 18px;
}

.input {
 border: 2px solid #e8e8e8;
 padding: 15px;
 border-radius: 10px;
 background-color: #000000;
 font-size: 18px;
font-family: 'Press Start 2P', cursive;
 font-weight: bold;
 text-align: center;
  color: #e8e8e8;
}

.input:focus {
 outline-color: white;
 background-color: #212121;
 color: #e8e8e8;
 box-shadow: 5px 5px #888888;
}

.round_button {
  float: left;
  border: 1px solid #e33c5a;
  text-decoration: none;
  text-align: center;
  font-size: 12px;
  line-height: 50px;
  width: 250px;
  height: 50px;
  margin: 10px;
  /* Old Firefox */
  border-radius: 10px;
  font-family: 'Press Start 2P', cursive;
  cursor: url("../images/mouse-style.png"), auto;
  background-color: rgba(250, 60, 90, 1);
  color: white;
  outline: none;
}

.round_button:hover {
  color: white;
  background: rgba(227, 60, 90, 1);
  font-size: 11px;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  transition: 0.5s;
  cursor: url("../images/mouse-pointer.png"),auto;
}
